# --- ARQUIVOS DE SISTEMA E IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# --- SEGURANÇA ---
.env

# NÃO IGNORE O .env.example 
!.env.example

# --- NODE.JS / NESTJS / REACT ---
# Dependências 
node_modules/
**/node_modules/


# Logs de erro do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas de Build 
dist/
**/dist/
build/
**/build/
coverage/

# --- PYTHON (Coletor) ---
# Bytecode compilado pelo Python
__pycache__/
*.pyc

# Ambientes virtuais (caso você tenha criado localmente)
venv/
env/
.venv/
.env/

# --- GO (Worker) ---
# Binários compilados (O avaliador compila na máquina dele)
# Ignora o arquivo executável chamado 'worker' ou 'main'
/queue-worker-go/worker
/queue-worker-go/main
*.exe
*.test

# --- DOCKER ---
# Se você tivesse mapeado o banco para uma pasta local, ignoraríamos aqui.
# Como usamos volumes nomeados, geralmente não cria pasta no projeto,
# mas por segurança ignoramos pastas comuns de dados:
mongo_data/
postgres_data/
mysql_data/
data/
```