node_modules
dist
.env
npm-debug.log
yarn-error.log
bin/
*.exe
*.out
__pycache__/
*.pyc
.env
.vite
*.log
.DS_Store
.idea/
.vscode/
docker-compose.yml
docker-compose.override.yml
*.env.local
.env.production
.env.development