version: "3.9"

services:
  # ================================
  # FRONTEND (React + Vite + Nginx)
  # ================================
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    env_file:
      - .env
    networks:
      - app-network

  # ====================================
  # BACKEND (Node + Typescript / NestJS)
  # ====================================
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    command: npm run start
    ports:
      - "${BACKEND_PORT}:3000"
    env_file:
      - ./backend/.env
    environment:
      MONGO_URL: ${MONGO_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
    depends_on:
      - mongo
      - rabbitmq
    networks:
      - app-network

  # ======================
  # MONGO DATABASE
  # ======================
  mongo:
    image: mongo:6.0
    restart: always
    container_name: database
    ports:
      - "${MONGO_PORT}:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  # ======================
  # RABBITMQ (BROKER)
  # ======================
  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_DASHBOARD}:15672"
    networks:
      - app-network

  # =======================
  # PYTHON WORKER
  # =======================
  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    container_name: worker
    depends_on:
      - rabbitmq
    env_file:
      - .env
    networks:
      - app-network

# =======================
# VOLUMES E REDE
# =======================
volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
