services:
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    ports: ["27017:27017"]
    networks:
      - backend-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  rabbitmq:
    image: rabbitmq:3-management
    ports: ["5672:5672", "15672:15672"]
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks:
      - backend-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  api:
    build:
      context: ./services/api-nestjs
      dockerfile: Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017/desafio_gdash
    env_file:
      - ./services/api-nestjs/.env
    ports: ["3000:3000"]
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - backend-network
      - frontend-network
    restart: unless-stopped

  python-collector:
    build:
      context: ./services/python-service
      dockerfile: Dockerfile
    env_file:
      - ./services/python-service/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - backend-network
    restart: unless-stopped

  go-worker:
    build:
      context: ./services/go-worker
      dockerfile: Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
      api:
        condition: service_started
    networks:
      - backend-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports: ["5173:80"]
    environment:
      - VITE_API_URL=http://localhost:3000
    depends_on: ["api"]
    networks:
      - backend-network
      - frontend-network

volumes:
  mongo-data:
    driver: local

networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge