version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: gdash_postgres
    restart: always
    environment:
      POSTGRES_USER: gdash
      POSTGRES_PASSWORD: gdash123
      POSTGRES_DB: gdashdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: gdash_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gdash.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
