services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - climate-sync

  python-producer:
    build:
      context: ./python_producer
    container_name: climate-sync-python-producer
    env_file:
      - ./.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - climate-sync

  go-worker:
    build:
      context: ./go-worker
    container_name: climate-sync-go-worker
    env_file:
      - ./.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - climate-sync

networks:
  climate-sync:
    driver: bridge
